## There are NO user inputs in this notebook

##### This file outputs the file named:  gcode_file2.csv

This is the second notebook file for processing gcode
1- gcode_DRO-WorkingOriginal.ipynb
2. gcode_Part3.ipynb

### Create df to use in a For loop

    #Initialize an empty dataframe to store the values
        result_df <- data.frame(X = numeric(0), Z = numeric(0))


    # Inside Loop: Create a new row for each iteration with X and Z values and add it to the dataframe
      new_row <- data.frame(X = ChangingDiameter, Z = Leng)
      result_df <- rbind(result_df, new_row)

### Undefined df without column names.
  
      # Create an empty dataframe with 2 columns
    undefined_df <- data.frame(matrix(nrow = 0, ncol = 2))

       
### Undefined df w/ column names   
    Another Ex.
    empty_df <- data.frame(Axis = character(0), Pos = character(0))

## Change column names

    colnames(df) <- c("Alpha", "Bravo", "Charlie", "Delta")

### rbind( )

    This is one of the main tools to use in base R.
    
        chrVec <- rbind(letters[1:4], "X")
    
    Use rbind with as.data.frame, as.list, as.character, etc

In [1]:
# Read the data from the existing .csv file
gcode <- read.csv("gcode_file.csv", header = T)
head(gcode, 3)

  X      Z
1 0.4925 -1
2 0.4775 -1
3 0.4625 -1

In [2]:
# It's critical to have common column names in both df's

x_df <- data.frame(Axis = "X", gcode$X)  # get the x values
z_df <- data.frame(Axis = "Z", gcode$Z)  # get the Z values

colnames(x_df) <- c("Axis", "Pos")   # change and give common column names to both df's
colnames(z_df) <- c("Axis", "Pos")


head(x_df)
head(z_df)

  Axis Pos
1 X    0.4925
2 X    0.4775
3 X    0.4625
4 X    0.4475
5 X    0.4325
6 X    0.4175

  Axis Pos
1 Z    -1
2 Z    -1
3 Z    -1
4 Z    -1
5 Z    -1
6 Z    -1

## Stop!  Quit fighting the dfs.  Work with lists instead!

### This will alternate the rows from 2 df's

##### Must have common column names in both dfs

In [3]:
# This uses the x_df, z_df created from the import .csv file

code_df <- data.frame(Code = character(0))   # initialize empty df



for(i in 1:nrow(x_df)) {
    t <- as.list(rbind(x_df$Axis[i], x_df$Pos[i]))   # get X data from x_df, then make it a list 
    t <- paste(t, collapse = " ")                    #  format the X list data
    u <- as.list(rbind(z_df$Axis[i], z_df$Pos[i]))   # get the Z data from z_df, then make it a list   
    u <- paste(u, collapse = " ")                    # format the Z list data
    w <- rbind(t, u)                                 # combine the X and Z list data in a new list
   # print(w)
    code_df <- rbind(code_df, w)                   # enter the combined rows into the empty df
    
    }

code_df <- data.frame(code_df, row.names = NULL)    # Got it!

In [4]:
head(code_df)

  V1
1 X 0.4925
2 Z -1
3 X 0.4775
4 Z -1
5 X 0.4625
6 Z -1

# Got it!

#### Successfully combined alternating the rows from x_df and z_df into the code_df

In [5]:
# Rename the column
colnames(code_df) <- "Pos"
head(code_df, 3)

  Pos
1 X 0.4925
2 Z -1
3 X 0.4775

In [6]:
nrow(code_df)

[1] 32

## Write gcode to file

In [7]:
write.csv(code_df, file = "gcode_file2.csv", row.names = FALSE)

In [8]:
# Read the data from the existing .csv file
gcode2 <- read.csv("gcode_file2.csv", header = T)

In [9]:
nrow(gcode2)
head(gcode2)
tail(gcode2)

[1] 32

  Pos
1 X 0.4925
2 Z -1
3 X 0.4775
4 Z -1
5 X 0.4625
6 Z -1

   Pos
27 X 0.2975
28 Z -1
29 X 0.2825
30 Z -1
31 X 0.2545
32 Z -1

# Done!

#### Move on to  gcode_Part3.ipynb

In [10]:
stopper

ERROR: Error in eval(expr, envir, enclos): object 'stopper' not found

In [ ]:
x_df$Axis[1]
x_df$Pos[1]
z_df$Axis[1]
z_df$Pos[1]

### Will need the following moves coded for positioning the X & Z moves

In [ ]:
# There are 4 general moves for roughing

Frate <- 4

X01 <- print(paste("G01", "X", x_df$Pos[1], "F",Frate))  # move X into cutting depth


# X01 <- as.list(paste(X01, collapse = ", "))
X01 <- paste(X01, collape = " " )

str(X01)
length(X01)
X01


Z01 <- print(paste("G01", "Z", z_df$Pos[1], "F",Frate))    # Cut along the Z axis
Z01 <- paste(Z01, collapes = " ")
Z01
str(Z01)

X02 <-  print(paste("G01", "X", .250, "F",Frate))         # move X away from part
X02 <- paste(X02, collapes = " ")
X02
str(X02)

Z02 <- print(paste("G00", "Z", 0.00 ))                    # move Z back to start position 
Z02 <- paste(Z02, collapes = "\n")
Z02

In [ ]:
STOP
# Some futile efforts using dfs and some practive using rbind() below

In [ ]:
library(dplyr)

## No go

In [ ]:
xz_df <- x_df %>% full_join(z_df)
head(xz_df)

### Practicing with rbind

In [ ]:
# Necessary practice to familiarize with rbind( )
a <- rbind(5:8)
b <- rbind(15:18)
a
b
L <- rbind(letters[1:4])
L

c <- rbind(a,b,L)
c
str(c)

df <- data.frame(c)
colnames(df) <- c("Alpha", "Bravo", "Charlie", "Delta")
df

# d <- "G

### Practice with i = 1.  Will use loop to complete full mesh of x_df & z_df

In [ ]:
# Get the X string data
a <- as.list(rbind(x_df$Axis[1], x_df$Pos[1]))
a
a <- paste(a, collapse = " ")
a

In [ ]:
# get the Z string data
b <- as.list(rbind(z_df$Axis[1], z_df$Pos[1]))
b
b <- paste(b, collapse = " ")
b

## Use loop to accomplish the same with all the data from x_df / z_df

In [ ]:
# There must be equal numbers of rows in each df
nrow(x_df)
nrow(z_df)

In [ ]:
a <- as.list(rbind(x_df$Axis[1], x_df$Pos[1]))
a
a <- paste(a, collapse = " ")
a

In [ ]:
# Create an empty dataframe with 2 columns
undefined_df <- data.frame(matrix(nrow = 0, ncol = 1))

# Print the undefined dataframe
print(undefined_df)

In [ ]:
empty_df <- data.frame(Axis = character(0), Pos = character(0))

In [ ]:
empty_df   #  Wrong way ... don't want two columns AGAIN

### Go back to working with strings

In [ ]:
empty_df <- as.list(paste(x_df$Axis[1], x_df$Pos[1]))

In [ ]:
empty_df
str(empty_df)

In [ ]:
new_data <- paste(z_df$Axis[1], z_df$Pos[1])
new_data

## Use append() to add to an existing list

In [ ]:
inclusive_list <- append(empty_df, list(new_data), after = length(empty_df))

In [ ]:
inclusive_list  #  This looks promising

## Got it w/in a few lines of code using list

In [ ]:
str(inclusive_list)

In [ ]:
# Wrong way ... don't want to combine into one row

inclusive_list <- paste(inclusive_list, collapse = " ")  
inclusive_list

In [ ]:
# Try to convert the complete list to df
inclusive_df <- data.frame(inclusive_list)

In [ ]:
# wrong way again
inclusive_df

In [ ]:
# Copilot 
my_list <- list(A = c(1, 2, 3), B = c("a", "b", "c"))  # Example list
my_list
str(my_list)

my_df <- as.data.frame(my_list)  # Convert list to dataframe
my_df

In [ ]:
# Existing list
existing_list <- list("a", "b", "c")

# Data to add
data_to_add <- "d"

# Adding data to the existing list using append()
updated_list <- append(existing_list, list(data_to_add), after = length(existing_list))

# Display the updated list
print(updated_list)